<h1>Hello Angular World</h1>
<body>

  <h2>My name is Aron</h2>
  <p>This is my first site using angular. I thought I'd introduce myself.
    I am a junior computer science major and am passioante about programming.
    I also love to workout and watch really good films.
  </p>
  <button>button</button>
  <table>
    <tr>
      <th>Name</th>
      <th>Hometown</th>
      <th>Hobbies</th>
    </tr>
    <tr>
      <td>Aron Herba</td>
      <td>Mooresville, NC</td>
      <td>Gym, movies, soccer</td>
    </tr>
   
  </table>
  </body>